/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
/* Fin de CSS reset */

@font-face {
  font-family: "Mona Sans";
  src: url("/assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"),
    url("/assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

/* ************************* */
/*      Variables            */
/* ************************* */

:root {
  /* Colores */
  --clr-oscuro: 325 95% 56%;
  --clr-asento: 50 94% 51%;
  --clr-asento-claro: 174 89% 56%;
  --clr-negro: 0 0% 20%;
  --clr-blanco: 0 0% 100%;

  /* Formatos de letras */
  --fs-hero: clamp(3.052rem, 6vw, 4.5rem);
  --fs-900: 3.052rem;
  --fs-800: 2.441rem;
  --fs-700: 1.953rem;
  --fs-600: 1.563rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.8rem;
  --fs-200: 0.64rem;

  --f-str-75: 75%;
  --f-str-100: 100%;
  --f-str-125: 125%;

  --f-wei-200: 200;
  --f-wei-600: 600;
  --f-wei-900: 900;

  --lh-small: 1;
  --lh-normal: 1.6;
  --lh-big: 1.8;

  /* Varios */
  --padding-block: clamp(3rem, 6vw, 5rem);
  --margin-texto: 1em;
  --border-radius: 7px;
  --box-shadow: 0 5px 10px 0 hsl(var(--clr-oscuro) / 0.6);

  font-size: 112%;
}

/* ************************* */
/*      Clases utiles        */
/* ************************* */

body {
  font-family: "Mona Sans";
  font-size: var(--fs-400);
  font-weight: 400;
  line-height: var(--lh-normal);
  font-stretch: var(--f-str-100);
  background-color: hsl(var(--clr-claro));
}

/* Colores */
/* De fondo */
.fondo-oscuro {
  background-color: hsl(var(--clr-oscuro));
}
.fondo-asento {
  background-color: hsl(var(--clr-asento));
}
.fondo-asento-claro {
  background-color: hsl(var(--clr-asento-claro));
}
.fondo-claro {
  background-color: hsl(var(--clr-claro));
}
.fondo-negro {
  background-color: hsl(var(--clr-negro));
}
/* De letras */
.color-negro {
  color: hsl(var(--clr-negro));
}
.color-blanco {
  color: hsl(var(--clr-blanco));
}
.color-oscuro {
  color: hsl(var(--clr-oscuro));
}
.color-asento {
  color: hsl(var(--clr-asento));
}
.color-asento-claro {
  color: hsl(var(--clr-aento-claro));
}

/* Formatos de letras */

.fs-hero {
  font-size: var(--fs-hero);
}
.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.f-str-75 {
  font-stretch: var(--f-str-75);
}
.f-str-100 {
  font-stretch: var(--f-str-100);
}
.f-str-125 {
  font-stretch: var(--f-str-125);
}

.f-wei-200 {
  font-weight: var(--f-wei-200);
}
.f-wei-600 {
  font-weight: var(--f-wei-600);
}
.f-wei-900 {
  font-weight: var(--f-wei-900);
}

.lh-small {
  line-height: var(--lh-small);
}
.lh-normal {
  line-height: var(--lh-normal);
}
.lh-big {
  line-height: var(--lh-big);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flow > *:not(:last-child) {
  margin-bottom: var(--margin-texto);
}

.container {
  width: min(100% - 3rem, var(--container-max, 62rem));
  margin-inline: auto;
}
h1,
h2,
h3 {
  line-height: var(--lh-small);
}

img {
  display: block;
  /* object-fit: cover; */
}

.img-container {
  aspect-ratio: 3 / 2;
  object-fit: contain;
  overflow: hidden;
}

a {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
a:where(:hover, :focus) {
  border-bottom-color: hsl(var(--clr-oscuro));
  text-decoration-thickness: 4px;
}

/* ************************* */
/*      Header y Menú        */
/* ************************* */
header {
  border-bottom: 1px solid hsl(var(--clr-oscuro));
}
.header-container {
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.logo {
  text-shadow: 0 1px 5px hsl(var(--clr-claro));
}

@media (min-width: 43rem) {
  nav {
    --nav-button-display: none;
    --nav-position: static;
  }

  .nav-principal {
    --nav-list-layout: row;
    --nav-list-position: static;
    --nav-list-padding: 0;
    --nav-list-height: auto;
    --nav-list-width: 100%;
    --nav-list-shadow: none;
    --nav-list-transform: none;
    --nav-list-visibility: visible;
  }
}

.nav-principal {
  box-shadow: var(--nav-list-shadow, -5px 0 11px 0 rgb(0 0 0 / 0.2));
  flex-direction: var(--nav-list-layout, column);
  flex-wrap: wrap;
  gap: 1rem;
  height: var(--nav-list-height, 100vh);
  padding: var(--nav-list-padding, 2rem);
  position: var(--nav-list-position, fixed);
  inset-block-start: 0;
  inset-inline-end: 0;
  width: var(--nav-list-width, min(18rem, 100vw));
  visibility: var(--nav-list-visibility, visible);
}

@media (prefers-reduced-motion: no-preference) {
  .nav-principal {
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      visibility 0.3s linear;
  }
}

[aria-expanded="false"] + ul {
  transform: var(--nav-list-transform, translateX(100%));
  visibility: var(--nav-list-visibility, hidden);
}

nav {
  position: var(--nav-position, fixed);
  inset-block-start: 1.6rem;
  inset-inline-end: 1.5rem;
  z-index: 1000;
}

.nav-principal a {
  border-block-end: 3px solid var(--border-color, transparent);
  padding: 0.1rem;
  text-decoration: none;
}

/* Reset button styling */
.btn-nav {
  display: var(--nav-button-display, flex);
  position: relative;
  z-index: 1;
}

/* ************************* */
/*      Hero                 */
/* ************************* */

.hero-section {
  background-image: url(/assets/images/fondo-header-desktop.svg);
  /* background-color: hsl(var(--clr-negro)); */
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 7vw, 5rem);
  padding-block: var(--padding-block);
  text-align: center;
}

.rotate-center {
  animation: rotate-center 0.6s;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-img-container {
  flex-basis: clamp(170px, 28vw, 250px);
  height: auto;
  flex-shrink: 0;
  aspect-ratio: 1;
  overflow: hidden;
  border: 10px solid hsla(var(--clr-oscuro));
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.hero-img-container > img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

@media (min-width: 43rem) {
  .hero-container {
    flex-direction: row-reverse;
    text-align: left;
    padding: 6em 3em;
  }
}

/* *************************** */
/* Sobre mi y mis habilidades  */
/* *************************** */

.sobre-mi,
.mis-habilidades,
.contact-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: var(--padding-block);
}

.ul-habilidades {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 47rem) {
  .sobre-mi,
  .mis-habilidades {
    flex-direction: row;
    justify-content: flex-start;
  }
  .sobre-mi h2,
  .mis-habilidades h2 {
    flex-basis: 200px;
    flex-shrink: 0;
  }
  .sobre-mi h2 {
    align-self: flex-start;
  }
  .ul-habilidades {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .ul-habilidades li {
    position: relative;
  }
  .ul-habilidades li:not(:last-child)::after {
    content: "|";
    position: absolute;
    right: -0.7rem;
  }
}
@media (min-width: 70rem) {
  .sobre-mi h2,
  .mis-habilidades h2 {
    flex-basis: 300px;
  }
}

/* ************************* */
/*      Mis proyectos        */
/* ************************* */

.mis-proyectos {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: var(--padding-block);
}

.proyecto-segunda-fila {
  padding-block-start: 0;
}

.cards-container {
  flex-direction: column;
  gap: 2rem;
}

.card-proyecto {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  max-width: 30rem;
}

.card-contenido {
  padding: 1em 2em 2em;
}

.fondo-proyecto {
  background-image: url(/assets/images/fondo-proyectos.svg);
  background-size: cover;
}

@media (min-width: 47rem) {
  .mis-proyectos {
    flex-direction: row;
    justify-content: flex-start;
  }
  .mis-proyectos h2 {
    flex-basis: 200px;
    flex-shrink: 0;
    align-self: flex-start;
  }
  .card-contenido {
    padding: 1em 3em 3em;
  }
}
@media (min-width: 60rem) {
  .cards-container {
    flex-direction: row;
  }
  .cards-container > * {
    flex-grow: 1;
    flex-basis: 15rem;
  }
  .mis-proyectos {
    flex-direction: column;
  }
  .mis-proyectos h2 {
    flex-basis: auto;
    flex-shrink: 1;
    align-self: center;
  }
  .card-contenido {
    padding: 0.5em 1em 1em;
  }
}

/* ************************* */
/*      Contactos-form       */
/* ************************* */

.contact-contenido {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.contact-form {
  padding: 1.5em;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.contact-form :where(input, textarea) {
  background-color: hsl(var(--clr-blanco));
  width: 100%;
  padding: 0.5em;
  border-radius: var(--border-radius);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: hsl(var(--clr-negro));
  font-size: var(--fs-300);
}

.contact-form label {
  font-size: var(--fs-300);
}

.btn {
  padding: 0.5em;
  width: 100%;
  border-radius: var(--border-radius);
  margin-block: var(--margin-texto);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.btn:hover {
  transform: scale(102%);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 47rem) {
  .contact-container {
    flex-direction: row;
    gap: 2rem;
  }
  .contact-container > * {
    flex-basis: 50%;
  }
  .contact-contenido {
    align-self: stretch;
    align-items: flex-start;
    text-align: left;
  }
  .contact-contenido :last-child {
    margin-top: auto;
  }
}

@media (min-width: 60rem) {
  .contact-container {
    gap: 5rem;
  }
}

/* ************************* */
/*      Footer               */
/* ************************* */

footer {
  text-align: center;
  letter-spacing: 2px;
  padding-block: var(--padding-block);
}

/* ************************* */
/*    Página de Proyecto     */
/* ************************* */

.proyecto-hero {
  background-image: url(/assets/images/fondo-header-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 40.6rem) {
  .proyecto-hero {
    background-image: url(/assets/images/fondo-header-desktop.svg);
  }
  .proyecto-container {
    flex-direction: row-reverse;
    text-align: left;
    padding: 6em 3em;
  }
}

.proyecto-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 7vw, 5rem);
  padding-block: 5rem;
  text-align: center;
}

.proyecto-container h1 {
  max-width: 30rem;
}

/* ************************* */
/*  Introducción             */
/* ************************* */

.introduccion {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: var(--padding-block);
}

@media (min-width: 47rem) {
  .introduccion {
    flex-direction: row;
    justify-content: flex-start;
  }
  .introduccion h2 {
    flex-basis: 200px;
    flex-shrink: 0;
    align-self: flex-start;
  }
}
@media (min-width: 65rem) {
  .introduccion h2 {
    flex-basis: 300px;
  }
}

/* ************************* */
/*  Detalles del proyecto    */
/* ************************* */

.proyecto-detalles {
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding-block: var(--padding-block);
}

@media (min-width: 38rem) {
  .proyecto-detalles {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
  }
  .proyecto-detalles > * {
    flex-basis: 200px;
  }
}

/* ************************* */
/* Descripción detallada y   */
/* ************************* */

.fondo-descripcion {
  background-image: url(/assets/images/fondo-proyectos.svg);
  background-size: cover;
}

.descripcion-proyecto,
.problema-soluciones,
.otros-proyectos {
  gap: 2rem;
  padding-block: var(--padding-block);
}

.descripcion-proyecto h3,
.problema-soluciones h3 {
  text-align: center;
}

.grid-elem-3 img,
.grid-elem-5 img {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

@media (min-width: 50rem) {
  .descripcion-proyecto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
  }
  .descripcion-proyecto h3 {
    text-align: left;
  }
  .grid-elem-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .grid-elem-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .grid-elem-3 {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
  }
  .grid-elem-4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .grid-elem-5 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: end;
  }
}

/* ************************************/
/*  Problemas y soluciones            */
/* ********************************** */

.grid-problemas-2 img {
  border-radius: var(--border-radius);
  box-shadow: 0 5px 10px 0 hsl(var(--clr-oscuro) / 0.6);
}

@media (min-width: 57rem) {
  .problema-soluciones {
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 1rem;
  }
  .grid-problemas-1 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 1rem;
    /* align-self: center; */
  }
  .grid-problemas-2 {
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }
  .grid-problemas-3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    padding: 1rem;
    /* align-self: center; */
  }
}

/* ************************************/
/*  Otros proyectos y contactar       */
/* ********************************** */

.otros-proyectos h2 {
  text-align: center;
}

.container-otros {
  flex-direction: column;
  gap: 2rem;
}

.contactar {
  flex-direction: column;
  gap: 1rem;
  padding-block: var(--padding-block);
  text-align: center;
}

.contacta-btn {
  display: inline-block;
  padding: 0.4rem 2rem;
  border-radius: var(--border-radius);
  margin-top: 1rem;
  border-bottom: none;
}

@media (min-width: 60rem) {
  .contactar {
    flex-direction: row;
    text-align: left;
    gap: 3rem;
  }
  .contactar h3 {
    flex-basis: 300px;
    flex-shrink: 0;
  }
  .container-otros {
    flex-direction: row;
  }
  .container-otros > * {
    flex-basis: 50%;
  }
}
